/*-- scss:defaults --*/

// Dark theme colors
$spc-primary: #E5E5E5;          // Gris claro
$spc-primary-light: #FFFFFF;    // Blanco
$spc-secondary: #A64D4F;        // Rojo claro
$spc-secondary-light: #8C2C2E;  // Rojo oscuro
$spc-accent: #CCCCCC;          // Gris medio
$spc-accent-light: #666666;    // Gris oscuro
$spc-accent-dark: #333333;     // Casi negro
$spc-bg-0: #1A1A1A;            // Fondo principal oscuro
$spc-bg-1: #2A2A2A;            // Fondo secundario oscuro
$spc-bg-00: rgba(0, 0, 0, 0.2); // Sombras para modo oscuro

/*-- scss:rules --*/